n8n-workflow.json
{
  "name": "YouTube Slack Summarizer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-ytn",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2601a23f-432c-45ce-9ec2-dc0704ad371c",
      "name": "Slack Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2304,
        352
      ],
      "webhookId": "slack-ytn"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Summarizing video... this may take a minute ⏳",
        "options": {}
      },
      "id": "ffccefa6-fd19-4e28-9633-3d6b75ce7f64",
      "name": "Ack Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -2080,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "  const body = $input.first().json.body;\n  const text = body.text || '';\n\n  const urlPatterns = [\n    /https?:\\/\\/(?:www\\.)?youtube\\.com\\/watch\\?v=([a-zA-Z0-9_-]{11})/,\n    /https?:\\/\\/youtu\\.be\\/([a-zA-Z0-9_-]{11})/\n  ];\n\n  let videoId = null;\n  for (const pattern of urlPatterns) {\n    const match = text.match(pattern);\n    if (match) {\n      videoId = match[1];\n      break;\n    }\n  }\n\n  // Parse level keyword from text\n  const validLevels = ['short', 'medium', 'long'];\n  const words = text.replace(/https?:\\/\\/\\S+/g, '').trim().toLowerCase().split(/\\s+/);\n  const level = words.find(w => validLevels.includes(w)) || 'short';\n\n  return {\n    videoId,\n    channelId: body.channel_id,\n    responseUrl: body.response_url,\n    hasVideoId: !!videoId,\n    level\n  };"
      },
      "id": "e7b1f042-fde7-499f-961c-8ca0036170e4",
      "name": "Extract YouTube URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1856,
        352
      ]
    },
    {
      "parameters": {
        "url": "=http://ytn-transcript:5001/metadata?v={{ $json.videoId }}",
        "options": {}
      },
      "id": "cb8b951d-5ee5-472f-b91d-6e4391d9f9ff",
      "name": "Fetch Metadata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -960,
        352
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=http://ytn-transcript:5001/transcript?v={{ $json.video_id }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a8b4239a-c4cd-46e1-9839-28c5ff6fe525",
      "name": "Fetch Transcript",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -736,
        256
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const urlData = $('Extract YouTube URL').first().json;\nconst errorMsg = `⚠️ *Transcript fetch failed*\\nCouldn't get transcript for this video. It may be private, age-restricted, or have no captions available.`;\n\nreturn {\n  responseUrl: urlData.responseUrl,\n  message: errorMsg\n};"
      },
      "id": "f7af8b4a-4018-4635-b9f5-0cd672b01a04",
      "name": "Error: Transcript Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        544
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merge metadata and transcript\nconst metadata = $('Fetch Metadata').first().json;\nconst transcript = $('Fetch Transcript').first().json;\nconst urlData = $('Extract YouTube URL').first().json;\n\nreturn {\n  videoId: metadata.video_id,\n  title: metadata.title,\n  channel: metadata.channel,\n  url: metadata.url,\n  transcript: transcript.transcript,\n  transcriptLength: (transcript.transcript || '').length,\n  responseUrl: urlData.responseUrl,\n  level: urlData.level\n};"
      },
      "id": "9bca2213-a8d9-4784-9011-047038ee3b17",
      "name": "Merge Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.ollamaBody) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "6a780c3c-ae49-4451-bd42-bd0bec3931f6",
      "name": "Ollama Stage 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        160
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.ollamaBody) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "8cc2725a-e877-496c-9339-a6f59816345a",
      "name": "Ollama Stage 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        64
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Format final Slack message\nconst metadata = $('Merge Data').first().json;\nconst summary = $json.message.content;\n\nconst message = `*${metadata.title}*\\n_${metadata.channel}_\\n${metadata.url}\\n\\n${summary}`;\n\nreturn {\n  responseUrl: metadata.responseUrl,\n  message\n};"
      },
      "id": "e6b6e1e9-321a-437d-aaf5-3f148e726b80",
      "name": "Format Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.responseUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"response_type\": \"in_channel\",\n  \"text\": {{ JSON.stringify($json.message) }}\n}",
        "options": {}
      },
      "id": "f506d6c3-2acc-424f-9831-8c79988ecece",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "const stage1Response = $json.message.content;\n  const metadata = $('Prepare Stage 1 Request').first().json;\n  const level = metadata.level || 'short';\n  const transcriptLength = metadata.transcriptLength || 0;\n  const transcriptWords = Math.round(transcriptLength / 5);\n\n  let formatInstructions;\n  if (level === 'long') {\n    const targetWords = Math.min(1500, Math.max(500, Math.round(transcriptWords * 0.5)));\n    formatInstructions = `Convert these notes into a comprehensive Slack message. Requirements:\n  - Start with a one-sentence TLDR\n  - Organize into clear sections with *bold headers*\n  - Under each section: detailed bullet points with context and examples\n  - Include notable quotes where relevant\n  - Target approximately ${targetWords} words\n  - Use plain language, no jargon\n  - Do not include any URLs or links in the summary\n  - Add relevant emoji sparingly`;\n  } else if (level === 'medium') {\n    const targetWords = Math.min(800, Math.max(300, Math.round(transcriptWords * 0.25)));\n    formatInstructions = `Convert these notes into a detailed Slack message. Requirements:\n  - Start with a one-sentence TLDR\n  - Follow with 5-8 detailed bullet points with context\n  - Include supporting details and examples for key points\n  - Target approximately ${targetWords} words\n  - Use plain language, no jargon\n  - Do not include any URLs or links in the summary\n  - Add relevant emoji sparingly`;\n  } else {\n    formatInstructions = `Convert these notes into a Slack message. Requirements:\n  - Start with a one-sentence TLDR\n  - Follow with 3-4 bullet points (key takeaways)\n  - Keep total length under 300 words\n  - Use plain language, no jargon\n  - Do not include any URLs or links in the summary\n  - Add relevant emoji sparingly`;\n  }\n\n  const prompt = `${formatInstructions}\\n\\n  Video: ${metadata.title}\\n  Channel: ${metadata.channel}\\n\\n  NOTES:\\n  ${stage1Response}`;\n\n  return {\n    title: metadata.title,\n    channel: metadata.channel,\n    url: metadata.url,\n    responseUrl: metadata.responseUrl,\n    ollamaBody: {\n      model: \"gpt-oss:20b-128k\",\n      messages: [{ role: \"user\", content: prompt }],\n      stream: false\n    }\n  };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        64
      ],
      "id": "dc5d0654-b5cf-4dcf-bda1-3ccbe9de69d7",
      "name": "Prepare Stage 2 Request"
    },
    {
      "parameters": {
        "jsCode": "  const level = $json.level || 'short';\n  const fullTranscript = $json.transcript || '';\n\n  // Determine transcript slice based on level\n  let transcript;\n  let extractionPrompt;\n  if (level === 'long') {\n    transcript = fullTranscript.substring(0, 80000);\n    extractionPrompt = `You are analyzing a YouTube video transcript in detail. Provide a comprehensive section-by-section analysis:\n\n  1. What is the main topic/thesis?\n  2. Break down EVERY major section or topic shift in the video\n  3. For each section: key arguments, evidence, examples, and quotes\n  4. All specific recommendations, tools, resources, or actionable advice\n  5. Any nuances, caveats, or counterpoints raised\n\n  Be comprehensive. Cover everything important.`;\n  } else if (level === 'medium') {\n    const mediumLen = Math.min(Math.floor(fullTranscript.length * 0.5), 40000);\n    transcript = fullTranscript.substring(0, Math.max(mediumLen, 15000));\n    extractionPrompt = `You are analyzing a YouTube video transcript. Extract detailed information:\n\n  1. What is the main topic/thesis?\n  2. What are the 5-8 most important points or takeaways?\n  3. Include supporting details, examples, or evidence for each point\n  4. Any specific recommendations, tools, or actionable advice mentioned?\n  5. Notable quotes or statements\n\n  Be thorough and include context for each point.`;\n  } else {\n    transcript = fullTranscript.substring(0, 15000);\n    extractionPrompt = `You are analyzing a YouTube video transcript. Extract the key information:\n\n  1. What is the main topic/thesis?\n  2. What are the 3-5 most important points or takeaways?\n  3. Any specific recommendations, tools, or actionable advice mentioned?\n\n  Be thorough but concise.`;\n  }\n\n  const prompt = `${extractionPrompt}\\n\\n  TRANSCRIPT:\\n  ${transcript}`;\n\n  return {\n    title: $json.title,\n    channel: $json.channel,\n    url: $json.url,\n    responseUrl: $json.responseUrl,\n    level,\n    transcriptLength: $json.transcriptLength,\n    ollamaBody: {\n      model: \"gpt-oss:20b-128k\",\n      messages: [{ role: \"user\", content: prompt }],\n      stream: false\n    }\n  };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        160
      ],
      "id": "0d6af866-d4b5-4527-a0f9-6ab1e04fe034",
      "name": "Prepare Stage 1 Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "2b7ac08c-34a0-434a-93ea-c0d616d73634",
              "leftValue": "={{ $json.hasVideoId }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1632,
        352
      ],
      "id": "29ed546c-0b59-412a-98e5-67a71471eafc",
      "name": "If"
    },
    {
      "parameters": {
        "url": "https://slack.com/api/conversations.history",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "=channel",
              "value": "={{ $json.channelId }}"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1408,
        432
      ],
      "id": "39d04633-a7d4-4a7d-8b23-85691d2c49fd",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XCTc5A54hh6A4773",
          "name": "Slack YTN Bot Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": " const messages = $json.messages || [];\n  const inputData = $('Extract YouTube URL').first().json;\n\n  const urlPatterns = [\n    /https?:\\/\\/(?:www\\.)?youtube\\.com\\/watch\\?v=([a-zA-Z0-9_-]{11})/,\n    /https?:\\/\\/youtu\\.be\\/([a-zA-Z0-9_-]{11})/\n  ];\n\n  let videoId = null;\n\n  for (const msg of messages) {\n    const text = msg.text || '';\n    for (const pattern of urlPatterns) {\n      const match = text.match(pattern);\n      if (match) {\n        videoId = match[1];\n        break;\n      }\n    }\n    if (videoId) break;\n  }\n\n  if (!videoId) {\n    throw new Error('No YouTube URL found in recent channel messages');\n  }\n\n  return {\n    videoId,\n    channelId: inputData.channelId,\n    responseUrl: inputData.responseUrl,\n    level: inputData.level\n  };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1184,
        432
      ],
      "id": "db83376c-8f4c-4645-bcd1-20960a7ac1f6",
      "name": "Code in JavaScript",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const urlData = $('Extract YouTube URL').first().json;\nconst errorMsg = `⚠️ *Metadata fetch failed*\\nCouldn't get metadata for this video.`;\n\nreturn {\n  responseUrl: urlData.responseUrl,\n  message: errorMsg\n};"
      },
      "id": "b3cac708-c1ad-445c-abba-fb333327b5bc",
      "name": "Error: Metadata Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        736
      ]
    },
    {
      "parameters": {
        "jsCode": "const urlData = $('Extract YouTube URL').first().json;\nconst errorMsg = `⚠️ *First Summarization failed*\\nThere may be issues accessing your AI model`;\n\nreturn {\n  responseUrl: urlData.responseUrl,\n  message: errorMsg\n};"
      },
      "id": "e93fc7e8-b040-4efe-816e-e9fa8a595b50",
      "name": "Error: Ollama Stage 1 Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "const urlData = $('Extract YouTube URL').first().json;\nconst errorMsg = `⚠️ *Final Summarization failed*\\nThere may be issues accessing your AI model`;\n\nreturn {\n  responseUrl: urlData.responseUrl,\n  message: errorMsg\n};"
      },
      "id": "a0a16429-4e76-47fe-94de-cf193380ca7e",
      "name": "Error: Ollama Stage 2 Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.responseUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"response_type\": \"ephemeral\",\n  \"text\": {{ JSON.stringify($json.message) }}\n}",
        "options": {}
      },
      "id": "b5cbadb6-8ecc-4f7c-a2bd-4b6df5fc9f45",
      "name": "Error Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        448
      ]
    },
    {
      "parameters": {
        "jsCode": "const urlData = $('Extract YouTube URL').first().json;\nconst errorMsg = `⚠️ *Couldn't find URL*\\nMake sure bot is invited into channel.`;\n\nreturn {\n  responseUrl: urlData.responseUrl,\n  message: errorMsg\n};"
      },
      "id": "72d49fc2-28e7-483f-abd6-c931218550ab",
      "name": "Error: No URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        912
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Slack Webhook": {
      "main": [
        [
          {
            "node": "Ack Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Slack": {
      "main": [
        [
          {
            "node": "Extract YouTube URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract YouTube URL": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Metadata": {
      "main": [
        [
          {
            "node": "Fetch Transcript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Metadata Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Transcript": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Transcript Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error: Transcript Failed": {
      "main": [
        [
          {
            "node": "Error Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Prepare Stage 1 Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Stage 1": {
      "main": [
        [
          {
            "node": "Prepare Stage 2 Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Ollama Stage 1 Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Stage 2": {
      "main": [
        [
          {
            "node": "Format Slack Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Ollama Stage 2 Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Slack Message": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Stage 2 Request": {
      "main": [
        [
          {
            "node": "Ollama Stage 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Stage 1 Request": {
      "main": [
        [
          {
            "node": "Ollama Stage 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Fetch Metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Fetch Metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: No URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error: Metadata Failed": {
      "main": [
        [
          {
            "node": "Error Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error: Ollama Stage 1 Failed": {
      "main": [
        [
          {
            "node": "Error Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error: Ollama Stage 2 Failed": {
      "main": [
        [
          {
            "node": "Error Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error: No URL": {
      "main": [
        [
          {
            "node": "Error Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d238efcb-d029-4db6-b377-1de8a930d191",
  "meta": {
    "instanceId": "02f602d75e9bd6345b60401e01d68d00be30e851bd50e3f1ff98c20f221e5312"
  },
  "id": "tgZ3UmUtNPvjm1dx",
  "tags": []
}